.sidebar {
  width: 80px;
  background: #ffffff;
  border-right: 1px solid #ddd;
  height: 100vh;
  transition: width 0.3s ease;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 1000;
}

.sidebar:hover {
  width: 250px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.sidebar:hover .sidebar-header {
  justify-content: flex-start;
}


.logo-icon {
  font-size: 24px;
  margin-bottom: 0.5rem;
}

.logo-text {
  display: none;
  font-size: 1.25rem; /* tamanho maior */
  font-weight: 600;   /* texto mais "forte" */
  color: #333;        /* cor escura para destaque */
  margin-left: 0.5rem;
}

.sidebar:hover .logo-text {
  display: inline;
}


.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.5rem 1rem;
  color: #333;
  cursor: pointer;
}

.sidebar:hover .sidebar-menu li {
  justify-content: flex-start;
}

.sidebar-menu li span {
  display: none;
}

.sidebar-menu li.active {
  color: #6C2BD9;
  border-radius: 5px;
}

.sidebar-menu li.active svg {
  color: #6C2BD9;
}

.sidebar-menu li:hover {
  background-color: #f0f0f0;
}

.sidebar:hover .sidebar-menu li span {
  display: inline;
}

.sidebar-footer {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar:hover .sidebar-footer {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-info {
  display: none;
}

.sidebar:hover .user-info {
  display: block;
}
